/*           FORM BOT                       */

fieldset {
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 40px;
  max-width: 700px;
  min-width: 280px;
  width: 100%;
}

fieldset.small-container {
  padding: 24px;
  background-color: #f2f2f2;
}


.fb-status {
  /*-webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;*/
  opacity:0;
}

/*.fb-status.ng-hide {
  opacity:0;
}*/

.fb-required {
    color:red;
    font-size:12px;
}

.form-actions {
  margin: 16px 0 8px 0;
}

/* add to bootstrap defaults */
.form-inline {
    margin-bottom: 16px
  }

.form-inline .form-group {
    margin-right: 8px;
  }

.form_heading {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #797979;
}

/* override bootstrap class values for control-group*/

.info {
    border-left: 5px solid #3a87ad;
    padding-left: 25px;
}

label {
  color: #5c5c5c;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
